.NavBar {
    background-color: #0F6B42;
    border: 1px solid #dadadf;
  }

.NavLink {
    padding: 5px;
  }

.NavBar a{
    color: #ffff;
}
  
.NavBar i {
  color: #ffff;
  }

.Active i {
    color: #d0d825;
  }

.i:hover {
    color: red;
  }